.sign-in-container{
  padding-top: 40px;
  text-align: center;
  

  
  .email-text{
    font-size: 1.2rem;
    font-weight: 600;
    margin: 0 auto 10px ;
    width: 60%;
    color: #A1A4B2;
    margin-bottom: 20px;
  }
  .input-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    margin-bottom: 20px;
    .input-card{
      width: 100%;
      font-size: 1.2rem;
    }
  }
  .account-text-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
    .forgot-password{
      font-size: 1.2rem;
      color: black;
    }
    .account-text{
      font-size: 1.2rem;
      color: #A1A4B2;
    }
  }
  

}
