<p>p-rewards-list works!</p>
<div class="title-section">
  <h1>Quotidien</h1>
  <p>Découvre ce que tu a deja gagné et ce qui t'attend !</p>
</div>
<div class="total-container">
  <p>Solde actuel </p>
  <span>
    <p>1000</p>
  </span>
</div>
<div class="main-reward-container">
  <div class="reward-item"></div>
   <h2>Appetia</h2>
   <p>1000</p>
</div>

<section class="rewards-carousel">
  <div class="rewards-container">
    <div class="reward-wrapper">
      <div class="reward-item"></div>
      <h3>Bon chez Healty</h3>
      <p>Pour les réguliers</p>
    </div>
    <div class="reward-wrapper">
      <div class="reward-item"></div>
      <h3>Place de ciné</h3>
      <p>MEDITATION • 5-10 MIN</p>
    </div>
    <div class="reward-wrapper">
      <div class="reward-item"></div>
      <h3>Bon d'achat</h3>
      <p>MEDITATION • 5-10 MIN</p>
    </div>
    <div class="reward-wrapper">
      <div class="reward-item"></div>
      <h3>Réduction</h3>
      <p>MEDITATION • 5-10 MIN</p>
    </div>
    <div class="reward-wrapper">
      <div class="reward-item"></div>
      <h3>Cadeau surprise</h3>
      <p>MEDITATION • 5-10 MIN</p>
    </div>
  </div>
</section>
