<div class="title-section">
  <h1>{{ categoryName }}</h1>
  <p>Découvre ce que tu a deja gagné et ce qui t'attend !</p>
</div>

<div class="total-container">
  <p>Solde actuel </p>
  <span>
    {{ user.points }}
  </span>
</div>

<div class="main-reward-container" *ngIf="rewards.length > 0">
  <div class="reward-wrapper">
    <div class="reward-item"></div>
      <h2>{{ rewards[0].name }}</h2>
      <p>{{ rewards[0].points_needed }} points</p>
  </div>
</div>

<section class="rewards-carousel">
  <div class="rewards-container">
    <div class="reward-wrapper" *ngFor="let reward of rewards.slice(1)">
      <div class="reward-item"></div>
      <h3>{{ reward.name }}</h3>
      <p>{{ reward.description }}</p>
      <p class="points">{{ reward.points_needed }} points</p>
    </div>
  </div>
</section>

