<div class="title-section">
  <h1>Détail de recompense</h1>
  <p>offre toi une pause gourmande</p>
</div>

<div class="reward-img">
  <span></span>
</div>

<div class="rewards-name">
  <div class="left-side">
    <h2>Nom de la recompense</h2>
    <p>Description de la recompense</p>
  </div>
  <div class="right-side">
    <p>100</p>
  </div>

</div>

<div class="description-container">
  <h2>Description</h2>
  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Saepe quidem hic doloribus dolorum maxime sint minus iusto alias cupiditate sed voluptatum, aut quaerat, quam nemo cumque non, harum et temporibus optio? Excepturi nulla, corrupti tempore nobis quo quas reiciendis autem accusamus iste deserunt itaque iure eum commodi fugiat, ex ullam?</p>
</div>

<h2>Conditions Générales</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque similique incidunt nulla minus repudiandae porro id a non rerum sequi fugit in eveniet quo esse provident assumenda molestias maxime praesentium dolorem, harum facere earum hic.</p>

<button class="btn btn-primary">debloquer la récompense</button>
