@import '../../../../styles.scss';

img{
  min-width: 100%;
  min-height: 160px;
  background: $secondary-color;
  object-fit: cover;
  border-radius: 20px;
  margin-bottom: 20px;
}

.rewards-name {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  margin-bottom: 30px;
  .left-side {
    flex: 0.5;
  }
  .right-side {
    flex: 0.5;
    text-align: right;
    p{
      width: 70%;
      text-align: center;
      background: #B000EB;
      border-radius: 30px;
      padding: 15px;
      color: $text-color;
    }
   
  }
}

.description-container {
  margin-bottom: 30px;
  h2 {
    margin-bottom: 10px;
  }
  
}

.button-container {
  margin-top: 2rem;
  width: 90%;
  max-width: 400px;
  margin: 2rem auto;
  position: absolute;
  bottom: 100px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.btn {
  width: 100%;
  padding: 1rem;
  border: none;
  border-radius: 30px;
  font-size: 1.1rem;
  font-weight: 600;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease;
  color: $text-color;

  &.btn-primary {
    background-color: #B000EB;
    &:hover {
      background-color: darken(#B000EB, 10%);
    }
  }

  &.btn-disabled {
    background: linear-gradient(to right, #B000EB var(--progress), #e0e0e0 var(--progress));
    color: $text-color-dark;
    cursor: not-allowed;
  }
}
