<div class="title-section">
  <h1>Détail de recompense</h1>
  <p>offre toi une pause gourmande</p>
</div>

<img [src]="reward.image_url" alt="reward image">


<div class="rewards-name">
  <div class="left-side">
    <h2>{{ reward.name }}</h2>
  </div>
  <div class="right-side">
    <p>{{ reward.points_needed }} points</p>
  </div>

</div>

<div class="description-container">
  <h2>Description</h2>
  <p>{{ reward.description }}</p>
</div>
<div class="button-container">
  <button 
    class="btn" 
    [class.btn-primary]="user.points >= reward.points_needed"
    [class.btn-disabled]="user.points < reward.points_needed"
    (click)="claimReward()"
    [disabled]="user.points < reward.points_needed"
    [style.--progress]="progressPercentage + '%'">
    <span *ngIf="user.points >= reward.points_needed">Débloquer la récompense</span>
    <span *ngIf="user.points < reward.points_needed">Points insuffisants</span>
  </button>
</div>


