<div class="title-section">
  <h1>Détail de recompense</h1>
  <p>offre toi une pause gourmande</p>
</div>

<img [src]="reward.image_url" alt="reward image">


<div class="rewards-name">
  <div class="left-side">
    <h2>{{ reward.name }}</h2>
    <p>{{ reward.description }}</p>
  </div>
  <div class="right-side">
    <p>{{ reward.points_needed }} points</p>
  </div>

</div>

<div class="description-container">
  <h2>Description</h2>
  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Saepe quidem hic doloribus dolorum maxime sint minus iusto alias cupiditate sed voluptatum, aut quaerat, quam nemo cumque non, harum et temporibus optio? Excepturi nulla, corrupti tempore nobis quo quas reiciendis autem accusamus iste deserunt itaque iure eum commodi fugiat, ex ullam?</p>
</div>

<h2>Conditions Générales</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque similique incidunt nulla minus repudiandae porro id a non rerum sequi fugit in eveniet quo esse provident assumenda molestias maxime praesentium dolorem, harum facere earum hic.</p>

<div class="button-container">
  <button 
    class="btn" 
    [class.btn-primary]="user.points >= reward.points_needed"
    [class.btn-disabled]="user.points < reward.points_needed"
    (click)="claimReward()"
    [disabled]="user.points < reward.points_needed"
    [style.--progress]="progressPercentage + '%'">
    <span *ngIf="user.points >= reward.points_needed">Débloquer la récompense</span>
    <span *ngIf="user.points < reward.points_needed">Points insuffisants</span>
  </button>
</div>


