<div class="admin-container">
  <h1>Administration</h1>

  <div class="admin-grid">
    <!-- Carte des utilisateurs -->
    <div class="admin-card">
      <h2><i class="fas fa-users"></i> Gestion Utilisateurs</h2>
      <div class="stats-box">
        <div class="stat-value">{{users.length || 0}}</div>
        <div class="stat-label">Utilisateurs inscrits</div>
      </div>
      <button class="action-button" routerLink="/admin/userlist">
        Gérer les utilisateurs
      </button>
    </div>
    <div class="admin-card">
      <h2><i class="fas fa-trophy"></i> Gestion des challenges</h2>
      <div class="stats-box">
        <div class="stat-value">{{types.length || 0}}</div>
        <div class="stat-label">Nombres de Challenges</div>
      </div>
      <button class="action-button" routerLink="/admin/challenges">
        Gérer les challenges
      </button>
    </div>
    <div class="admin-card">
      <h2><i class="fas fa-chart-line"></i> Gestion des statistiques</h2>
      <div class="stats-box">
        <div class="stat-value">{{stats.length || 0}}</div>
        <div class="stat-label">Nombres de statistiques</div>
      </div>
      <button class="action-button" routerLink="/admin/stats">
        Gérer les statistiques
      </button>
  </div>
</div>