<div class="title-section">
  <h1>Tout les défis</h1>
  <p>encore un jour sans cigarette</p>
</div>


<div class="total-container">
  <p>Solde actuel </p>
  <span>
    <p>1000</p>
  </span>
</div>
<div class="rewards-category-grid">
  <div class="grid-item">
    <p>rewards 1</p>
    <button class="go-button" routerLink="/challenges/list">Go</button>
  </div>
  <div class="grid-item">
    <p>rewards 2</p>
    <button class="go-button" routerLink="/p-challenges/p-challenges-list">Go</button>
  </div>
  <div class="grid-item">
    <p>rewards 3</p>
    <button class="go-button" routerLink="/p-challenges/p-challenges-list">Go</button>
  </div>
  <div class="grid-item">
    <p>rewards 4</p>
    <button class="go-button" routerLink="/p-challenges/p-challenges-list">Go</button>
  </div>
</div>
