<div class="form-container">
  <h1>{{ isEditMode ? 'Modifier' : 'Ajouter' }} un challenge</h1>
  
  <form [formGroup]="challengeForm" (ngSubmit)="onSubmit()" class="challenge-form">
    <div class="form-group">
      <label for="nom">Nom</label>
      <input type="text" id="nom" formControlName="name" class="form-control">
    </div>

    <div class="form-group">
      <label for="category_id">Catégorie</label>
      <select id="category_id" formControlName="category_id" class="form-control">
        <option *ngFor="let category of categories" [value]="category.id">{{ category.name }}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <textarea id="description" formControlName="description" class="form-control"></textarea>
    </div>

    <div class="form-group">
      <label for="difficulty">cible</label>
      <select id="difficulty" formControlName="target" class="form-control">
        <option value="casual">Casuel</option>
        <option value="regular">Régulier</option>
        <option value="addicted">Addicte</option>
      </select>
    </div>

    <div class="form-group">
      <label for="points">Points</label>
      <input type="number" id="points" formControlName="points" class="form-control">
    </div>

    <div class="form-group">
      <label for="badges">Badge</label>
      <input type="text" id="badges" formControlName="badges" class="form-control">
    </div>

    <div class="form-group checkbox-group">
      <label for="is_active">
        <input type="checkbox" id="is_active" formControlName="is_active">
        Actif
      </label>
    </div>

    <div class="form-group">
      <label for="estimated_duration">Durée estimée</label>
      <input type="number" id="estimated_duration" formControlName="estimated_duration" class="form-control">
    </div>

    <div class="form-actions">
      <button type="button" class="btn btn-secondary" (click)="router.navigate(['/admin/challenges'])">
        Annuler
      </button>
      <button type="submit" class="btn btn-primary" [disabled]="!challengeForm.valid">
        {{ isEditMode ? 'Modifier' : 'Ajouter' }}
      </button>
    </div>
  </form>
</div>
