nav {
  width: 100vw;
  background: white;
  box-shadow: 0 2px 8px rgba(0,0,0,0.04);
  padding: 5px 10px;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 100;
}

ul {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  margin: 0;
}

svg{
  margin-bottom: 0.4rem;
}

span {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

li {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

a, a:active i, a:visited i, a:focus {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #b0b3c6;
  font-size: 0.85rem;
  font-weight: 500;
  padding: 0.2rem 0.5rem 0.1rem 0.5rem;
  border-radius: 1.5rem;
  transition: all 0.3s ease;
  position: relative;
  text-decoration: none !important;
  border: none !important;
  box-shadow: none !important;
}

a svg {
  font-size: 1.1rem;
  margin-bottom: 0.2rem;
  display: block;
  transition: all 0.3s ease;
}

a.router-link-active {
  color: #B000EB;
  .home-icon{
    path {
      fill: white;
      stroke-width: 1px;
    }
  }
  svg {
    
    
    path {
      stroke: white;
    }

    background-color: #9680FF;
    padding: 10px 0;
    height: 46px;
    width: 46px;
   
    border-radius: 18px;
  }
}
