<div class="content-wrapper" routerLink="/"> 
  <button class="back-button">
    <svg viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg" fill="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <defs> <style>.cls-1{fill:none;stroke:#000000;stroke-linecap:round;stroke-linejoin:round;stroke-width:20px;}</style> </defs> <g data-name="Layer 2" id="Layer_2"> <g data-name="E421, Back, buttons, multimedia, play, stop" id="E421_Back_buttons_multimedia_play_stop"> <circle class="cls-1" cx="256" cy="256" r="246"></circle> <line class="cls-1" x1="352.26" x2="170.43" y1="256" y2="256"></line> <polyline class="cls-1" points="223.91 202.52 170.44 256 223.91 309.48"></polyline> </g> </g> </g></svg>
  </button>
</div>

<div class="title-section">
  <h1>Tout les défis</h1>
  <p>encore un jour sans cigarette</p>
</div>
<div class="defis-category-grid">
  
  <div class="grid-item" *ngFor="let category of categories; let i = index">
    <svg width="121" height="99" viewBox="0 0 121 99" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M94.6244 7.79333C94.6244 7.79333 77.4183 -3.60282 56.46 2.40887C35.4991 8.41868 21.1917 27.2057 9.19691 42.117C-2.79973 57.0307 -2.27589 75.3918 9.94502 86.7701C22.1659 98.1484 34.476 88.9842 54.3584 93.3755C74.2409 97.7667 78.8813 101.924 97.9126 94.876C116.944 87.8277 126.146 62.2136 117.837 39.4709C109.525 16.7262 94.6244 7.79333 94.6244 7.79333Z" fill="#8B00B9"/>
      </svg> 
    <div [innerHTML]="getSvgForCategory(i)"></div>            
    <p>{{ category.name }}</p>
    <button class="go-button" (click)="goToChallengeList(category.name)">Go</button>
  </div>
</div>
