<p>p-challenges-category works!</p>
<div class="title-section">
  <h1>Tout les défis</h1>
  <p>encore un jour sans cigarette</p>
</div>
<div class="defis-category-grid">
  <div class="grid-item">
    <p>Défi 1</p>
    <button class="go-button" routerLink="/challenges/list">Go</button>
  </div>
  <div class="grid-item">
    <p>Défi 2</p>
    <button class="go-button" routerLink="/p-challenges/p-challenges-list">Go</button>
  </div>
  <div class="grid-item">
    <p>Défi 3</p>
    <button class="go-button" routerLink="/p-challenges/p-challenges-list">Go</button>
  </div>
  <div class="grid-item">
    <p>Défi 4</p>
    <button class="go-button" routerLink="/p-challenges/p-challenges-list">Go</button>
  </div>
</div>