@import '../../../styles.scss';

.profile-container{
  .photo-container{
    height: 175px;
    background: $background-color;
    display: flex;
    margin-bottom: 70px;
    .photo-container-item{
      height: 125px;
      width: 125px;
      border-radius: 50%;
      background: #fff;
      margin: auto auto 0;
      transform: translateY(50%);
      position: relative;
    
      &::before{
        padding: 10px;
        content: '';
        position: absolute;
        background: $background-color;
        top: 4px;
        left: 4px;
        right: 4px;
        bottom: 4px;
        border-radius: 50%;
      }
    }
  }
  .profile-container-item{
    p{
      &:first-child{
        font-size: $title-size-small;
        font-weight: 800;
      }
    }
  }
  .stats-container{
    margin-top: 50px;
    text-align: left;
    padding: 0 20px;
  }

  .stats-container-list{
    margin: 20px 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    li{
      display: block;
      span{
        text-align: center;
        font-size:$text-size;
        font-family: $text-family;
        display: block;
      }
    }
  }
  .badges-container{
    margin-top: 50px;
    text-align: left;
    padding: 0 20px;
    h2{
      margin-bottom: 20px;
    }
    .badges-container-item{
      display: flex;
      align-items: center;
      gap: 20px;
      justify-content: space-between;
      span{
        width: 80px;
        height: 80px;
        background: none;
        border-radius: 50%;
        border: 1px solid $background-color;
      }
    }
  }
  .total-container{
    height: 95px;
    margin-top: 50px;
    text-align: left;
    padding: 30px 0;
    border-radius: 10px;
    margin: 40px 20px 0;
    gap: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $background-color;
    p{
      &:first-child{
        color: $text-color;
        font-size: $title-size-small;
      }
    }
    span{
      background: #fff;
      padding: 10px 50px;
      border-radius: 30px;
      p{
        color: $background-color;
        font-size: $text-size;
      }
    }
}
}
