<section class="profile-container text-center">
  <div class="photo-container">
    <div class="photo-container-item">
    </div>
  </div>
  <div class="profile-container-item">
    <p>
      {{user?.username}}
    </p>
    <p>
      {{user?.email}}
    </p>
  </div>

  <div class="stats-container">
    <div class="stats-container-item">
      <h2>Statistiques</h2>
      <ul class="stats-container-list">
        <li>
          <span>
            {{stats?.days_without_smoking}}
          </span>
          <span>
            Jours sans fumer
          </span>
        </li>
        <li>
          <span>
            {{stats?.money_saved}}
          </span>
          <span>
            argent économisé
          </span>
        </li>
        <li>
          <span>
            {{stats?.cigaret_avoided}}
          </span>
          <span>
            cigarettes
          </span>
        </li>
      </ul>
    </div>
  </div>

  <div class="badges-container">
    <h2>Badges</h2>
    <div class="badges-container-item">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div class="total-container">
    <p>Gains Totaux</p>
    <span>
      <p>{{user?.points}}</p>
    </span>
  </div>
</section>

