@import '../../../../styles.scss';
.list-challenges-grid {
  margin-top: 40px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.grid-wrapper {
  .challenge-item{
    border-radius:10px ;
    min-height:122px;
    width: 100%;
    background: $background-color;
  }
}
