<div class="title-section">
  <h1>Défis du jour</h1>
  <p>encore un jour sans cigarette</p>
</div>
<div class="list-challenges-grid">
  <div class="grid-wrapper">
    <div class="challenge-item"></div>
    <h3>Sans clope</h3>
    <p>Avec clope</p>
  </div>
  <div class="grid-wrapper">
    <div class="challenge-item"></div>
    <h3>Sans clope</h3>
    <p>Avec clope</p>
  </div>
  <div class="grid-wrapper">
    <div class="challenge-item"></div>
    <h3>Sans clope</h3>
    <p>Avec clope</p>
  </div>
  <div class="grid-wrapper">
    <div class="challenge-item"></div>
    <h3>Sans clope</h3>
    <p>Avec clope</p>
  </div>
  <div class="grid-wrapper">
    <div class="challenge-item"></div>
    <h3>Sans clope</h3>
    <p>Avec clope</p>
  </div>
  <div class="grid-wrapper">
    <div class="challenge-item"></div>
    <h3>Sans clope</h3>
    <p>Avec clope</p>
  </div>
</div>