<div class="home-container">
  <div class="logo-container">
    <img src="/assets/img/Logo.png" alt="logo" class="logo" width="200px" height="200px">
  </div>
  <div class="welcome-section">
    <h1>Bonjour {{ user.username }}</h1>
  </div>
  <div class="grid-container">
    <div class="div1">
      <p>test</p>
    </div>
    <div class="div2">
      <p>test</p>
    </div>
    <div class="div3">
      <p>test</p>
    </div>
  </div>

  <section class="home-rewards">
    <h2>Récompenses</h2>
    <div class="rewards-container">
      <div class="reward-wrapper">
        <div class="reward-item"></div>
        <h3>Bon chez Healty</h3>
        <p>Pour les réguliers</p>
      </div>
      <div class="reward-wrapper">
        <div class="reward-item"></div>
        <h3>Place de ciné</h3>
        <p>MEDITATION • 5-10 MIN</p>
      </div>
      <div class="reward-wrapper">
        <div class="reward-item"></div>
        <h3>Bon d'achat</h3>
        <p>MEDITATION • 5-10 MIN</p>
      </div>
      <div class="reward-wrapper">
        <div class="reward-item"></div>
        <h3>Réduction</h3>
        <p>MEDITATION • 5-10 MIN</p>
      </div>
      <div class="reward-wrapper">
        <div class="reward-item"></div>
        <h3>Cadeau surprise</h3>
        <p>MEDITATION • 5-10 MIN</p>
      </div>
    </div>
  </section>

</div>
